body main {
  max-height: calc(100vh - var(--header-height) - var(--footer-height));
  overflow-y: auto;
  @media screen and (max-width: 460px) {
    max-height: calc(100vh - (2 * var(--header-height)) - var(--footer-height));
    min-height: calc(100vh - (2 * var(--header-height)) - var(--footer-height)) !important;
  }
}

.first-entry {
  min-height: unset !important;
}

.first-entry > .entry-content {
  text-align: center;
}
.first-entry > .entry-footer > .social-icons {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.profile-image img {
  max-height: 250px;
  max-width: 95%;
  border-radius: 25%;
  padding: 1em;
}

.post-content h1 {
  margin: 32px auto 24px !important;
  font-size: 32px !important;
}

.post-content h2 {
  margin: 24px auto 16px !important;
  font-size: 24px !important;
}

.post-content h3 {
  font-size: 16px;
}

.post-content h4 {
  font-size: 14px;
}

.post-content h5 {
  font-size: 12px;
}

.post-content h6 {
  font-size: 10px;
}
